html,body {
  padding:0px;
  margin:0px;
  height:100%;
  min-height:100%;
 }

.north {
  background: url("./northlondon.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%
}

.east {
  background: url("./background pic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%
}

.west {
  background: url("./westlondon.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%
}

.south {
  background-color: yellow;
}

.container-fluid {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.myheight {
  height: 50%
}
