html,body {
  padding: 0px;
  margin: 0px;
  height:100%;
  min-height:100%;
  background-color: black;
 }

h1 {
  color: black;
}

.north {
  background: url("./NORTH1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.east {
  background: url("./EAST1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.west {
  background: url("./WEST1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.south {
  background: url("./SOUTH1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.line {
  height: 50%;
  padding: 0px;
}

.myheight {
  height: 100%
}

/* takes up full width of screen
.container-fluid {
  position: relative;
  width: 50%;
} */

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
