jumbotron {
  padding-top: 250px;
  padding-bottom: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./london.jpg")
}

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
