body {
  background: url("./background pic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header{
  display: table;
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  margin-bottom:10px;
  padding-bottom:10px;
}

h1{
  padding: 10px;
}

li{
  display: inline;
  padding: 5px 10px 5px 10px;
}

ul{
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    font-size: 20px;
    margin-top: -10px;
    margin-left: -20px;
    position: fixed;
    top: 0;
    width: 100%;
    display: inline-block;
    list-style-type: none;
    text-align: center;

}

li a {
    text-decoration: none;
    transition: 1s;
    line-height: 1.8;
    height: 100%;
