header {
  display: table;
  position: relative;
  width: 100%
  height: 100%
  backgroung: url("./background pic.jpg") no-repeat center scroll;
  background-attachment: fixed;
  background-size: cover;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
